{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <title>Soccer App</title>
    	
    	<h1>Premier League</h1>
    	
    	<table id='home-table'>
    		<tr>
    			<th>Position</th>
    			<th>Club</th>
    			<th>Played</th>
    			<th>Won</th>
    			<th>Drawn</th>
    			<th>Lost</th>
    		</tr>
    		
    		<tr>
    			<td>1</td>
    			<td>Manchester City</td>
    			<td>36</td>
    			<td>32</td>
    			<td>2</td>
    			<td>2</td>
    		</tr>
    		
    		<tr>
    			<td>2</td>
    			<td>Manchester United</td>
    			<td>36</td>
    			<td>30</td>
    			<td>2</td>
    			<td>4</td>
    		</tr>
    		
    		<tr>
    			<td>3</td>
    			<td>Liverpool</td>
    			<td>36</td>
    			<td>29</td>
    			<td>3</td>
    			<td>4</td>
    		</tr>
    		
    	</table>
    	
		<div id='league-background-img'></div>
		
		<script src='js/home.js'></script>
{% endblock %}