{% extends "layout.html" %}
{% block title %}League Page{% endblock %}
{% block content %}
<script type="text/javascript">
   	var flaskVar = {
		teamName: "{{teamName}}",
		players: {{players|safe}}
	};
</script>

<div id='main-container'>
	
	<select id='league-dropdown'>
		<option value=''>Choose a league..</option>
	   	<option value='Premier'>Premier</option>
	   	<option value='Bundesliga'>Bundesliga</option>
	   	<option value='Serie A'>Serie A</option>
	   	<option value='Primera'>Primera</option>
	</select>
	
	<select id='team-dropdown'>
		<option value=''>Choose a team..</option>
	</select>
	
   	<h1 id='team-header'></h1>
   	
   	<table id='goalkeepers'></table>
   	
   	<br><br>
   	    	
   	<table id='defenders'></table>
   	
   	<br><br>
   	
   	<table id='midfielders'></table>
   	
   	<br><br>
   	
   	<table id='forwards'></table>
   	
	<div id='team-background-img'></div>
</div>
			
    <script src="{{url_for('static', filename='js/base.js')}}"></script>
    <script src="{{url_for('static', filename='js/team.js')}}"></script>
{% endblock %}